.post-content-section {
  // border-bottom: 1px solid #393a3c;
  // border-top: 1px solid #393a3c;
  // border-right: 1px solid #393a3c;
  // background-color: #232626;
  display: flex;
  flex-direction: column;
}

.post-section {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-section-icon {
  background-color: transparent;
  border: none;
  outline: none;
  color: #cc0088;
  cursor: pointer;
  margin-right: 8px;
  height: 45px;
  align-self: center;
}

.post-section-icon:hover {
  background-color: rgba(242, 29, 231, 0.2);
  border-radius: 70px;
}

.attachment-section {
  display: flex;
  align-self: center;
  height: 50px;
  border-bottom: 1px solid #393a3c;
  width: 1005;
  width: 644px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
      margin-left: 15px;
}

.post-input {
    width: 100%;
    height: 35px;
    align-self: center;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    display: flex;
    word-wrap: break-word;
    word-break: break-all;
    font-family: sans-serif;
    resize: none;
    margin-top: 20px;
    white-space: pre-wrap;
    border-bottom: 1px solid #393a3c;
    margin-right: 20px;
    padding-bottom: 10px;
}

.post-input::placeholder {
  color: #c8cbd3;
}



.offset-panel {
  margin-left: 80px;
}

// rgb(57 58 60)

// pink #cc0088

//linear-gradient(90deg, rgba(255,255,255,1) -82%, rgba(204,0,136,1) 0%, rgba(204,0,136,1) 50%, rgba(220,20,60,1) 100%);