/* containers */

.container {
  height: 450px;
}

.coverPhotoContainer {
  height: 225px;
}

.infoContainer {
  height: 225px;
  display: flex;
  flex-direction: column;
  color: white;
}

.info {
  display: flex;
}

.followSection {
  display: flex;
}

.buttonSection {
  display: flex;
  height: 52px;
}

/* elements */

.coverPhoto {
  width: 100%;
  max-height: 225px;
}

.name {
  color: white;
  margin: 0px;
  font-weight: 700;
  margin-top: 85px;
  margin-left: 15px;
  line-height: 1.3125;
}

.handle {
  line-height: 1.3125;
  color: #e4e6ebc7;
  margin-top: 2px;
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 0px;
}

.profilePhoto {
  height: 150px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #393a3b;
  top: 220px;
  margin-left: 15px;
}

.bioContainer {
  margin: 0px;
}

.bio {
  margin-left: 15px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.infoParagraph {
  margin-left: 15px;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
  color: #e4e6ebc7;
}

.followParagraph {
  margin-left: 15px;
  font-size: 16px;
  color: white;
  font-weight: 800;
  display: flex;
  align-self: center;
  margin-right: 5px;
}

/* .followParagraphWord {
  margin-left: 15px;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
  align-self: center;
  margin: 0px;
  color: #e4e6ebc7;
} */

.wordFollow {
  margin-left: 15px;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
  align-self: center;
  margin: 0px;
  color: #e4e6ebc7;
}

.followSectionDiv {
  display: flex;
  align-self: center;
  margin-top: -10px;
}

.editButton {
  margin: 0px 5px;
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  border: 1px solid #cc0088;
  color: #cc0088;
  background-color: transparent;
  height: 45px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 35px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  position: absolute;
  right: 450px;
  top: 320px;
  outline: none;
}

.editButton:hover {
  background-color: #cc008829;
}

.bottomButton {
  background-color: transparent;
  border: none;
  width: 161px;
  color: #e4e6ebc7;
  font-weight: 800;
  font-size: 18px;
  outline: none;
}

.bottomButton:hover {
  cursor: pointer;
  background-color: #cc008829;
  color: #cc0088;
}

.bottomButton:focus {
  color: #cc0088;
  border-bottom: 2px solid #cc0088;
}