.modal {
  position: absolute;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
  top: 115px;
  z-index: 300;
  left: 435px;
  justify-content: center;
  box-shadow: 0 2px 10px 0 rgb(255 255 255 / 14%);
  overflow-y: scroll;
}

.modalInput {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  height: 56px;
  width: 335px;
  outline: none;
  /* border: none; */
  /* color: rgb(45, 49, 56); */
  margin: 10px 0px;
  padding-left: 20px;
  font-size: 16px;
  margin: 7px auto;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid #cc0088;
}

.modalHeader {
  display: flex;
  margin: 7px 25px;
  justify-content: space-between;
}

.header {
  color: white;
}

.saveButton {
  margin: 0px 5px;
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  border: 1px solid #cc0088;
  color: #cc0088;
  background-color: transparent;
  height: 35px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 35px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  outline: none;
  align-self: center;
}

.saveButton:hover {
  background-color: #cc008840;
  color: white;
}

.editPhoto {
  height: 150px;
  border-radius: 50%;
  border: 1px solid #393a3b;
  top: 80px;
  margin-left: 15px;
}

.coverPhoto {
  width: 100%;
  max-height: 225px;
}

.coverButton {
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 70px;
}
.coverButton:hover {
  cursor: pointer;
}

.profileButton {
  background-color: transparent;
  border: none;
  outline: none;
  height: 150px;
  width: 200px;
  position: absolute;
  top: 210px;
}
.profileButton:hover {
  cursor: pointer;
}