/* dropdown panel */

.dropdown {
  top: 58px;
  transform: translateX(-45%);
  width: 350px;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  background-color: #232626;
}

.sectionTitle {
  font-size: 30px;
  color: #E4E6EB;
  text-align: left;
  margin-left: 15px;
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: 800;
  margin-bottom: 5px;
}