$darkmode: #141d26;
$dark: #1C1C1C;
$lightmode: #f8f9fa;
$white: #fff;
$black: #000;

.container {
  background-color: $dark;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr 3fr 1.25fr;
  grid-gap: 0px;
}

.content-section {
  flex-grow: 1;
  border: 1px solid #444444;
}


