@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");

.left-navbar-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 280px;
  // border: 1px solid white;
}

.navbar-container {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  position: fixed;
  top: 60px;
  width: 280px;
}

.navbar-div {
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  list-style-type: none;
  font-family: "Oxygen", sans-serif;
}

.side-nav-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Oxygen", sans-serif;
  padding: 0px;
  width: 100%;
}

.side-nav-link {
  color: #e4e6eb;
  list-style-type: none;
  font-family: sans-serif;
  font-weight: 600;
  padding: 2px 18px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-bottom: 5px;
}

.side-nav-link:hover {
  // border-radius: 40px;
  // background-color: rgba(255, 255, 255, 0.1);
  // width: 100%;
  // border-radius: 7px;
  // background-color: rgba(255, 0, 0, .1);
  // width: 90%;
  // border-radius: 7px;
  // background-color: rgba(0,0,0,.2);
  // box-shadow: inset 0 1px 2px 0 rgba(50,50,50,.2);
  // width: 87%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 87%;
}

.side-nav-link:focus {
  color: rgb(212, 10, 3);
}

.nav-icon {
  margin-right: 20px;
  padding-left: 10px;
}

.nav-icon:hover {
  color: rgb(212, 10, 3);
  margin-right: 20px;
}

// .side-nav-li {
//   padding-left: 50%;
// }