.side-rightnav-li {
  color: #e4e6eb;
  display: flex;
  width: 100%;
  font-size: 22px;
  padding: 10px;
  margin: 0px;
}

.right-nav-container {
  position: sticky;
  top: 0;
}

// .side-rightnav-li:hover {
//   background-color: rgba(255, 255, 255, .1);
//   width: 100%;
//   border-radius: 7px;
// }

.side-rightnav-link {
  width: 100%;
  display: flex;
}

.side-rightnav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 7px;
}

.side-rightnav-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-nav-section {
  display: flex;
  flex-direction: column;
}

.right-nav-div {
  position: sticky;
  top: 0;
}

.rightnav-search-container {
  width: 80%;
  height: 45px;
  border-radius: 40px;
  background-color: #3A3B3C;
  color: #E4E6EB;
}

.rightnav-input {
  width: 80%;
  height: 45px;
  padding: 0px 25px;
  background: none;
  border: none;
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 40px;
}

.rightnav-input:focus {
  border: 1px solid crimson;
  background-color: #1C1C1C;
}

.rightnav-middle-container {
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 80%;
  border-bottom: 1px solid #444444;
  padding-bottom: 15px;
  border-top: 1px solid #444444;
  margin-top: 20px;
}

.community-h2 {
  // color: #B0B3B8;
  color: white;
  padding-left: 10px;
  float: left;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.3125;
  letter-spacing: 1.5px;
}

.political-compass {
  width: 250px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pc-button {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  margin-left: -8px;
  display: flex;
  flex-direction: column;
}

.pc-compass-container {
  margin-top: 15px;
  width: 80%;
}

.right-nav-icon {
  color: white;
  align-self: center;
  padding-left: 10px;
}

.rightnav-dna-btn {
  display: flex;
  color: white;
  border-radius: 10px;
  border: 1px solid #444444;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  justify-content: center;
  font-family: sans-serif;
}

.rightnav-dna-btn:hover {
  background-color: rgba(8, 99, 234, 0.2);
  border: 1px solid #0b85ec;
}

// .rightnav-explore-icon {
//   align-self: center;
//   padding-left: 6px;
// }

.compass-btn {
  color: white;
  // padding-left: 3px;
}